body{
    background: rgb(53, 40, 40);
 }
 header {background-color: #0481B2;
     border-radius: 10px;
     padding: 10px;
     text-align: center;
     color: rgb(248, 238, 238);
    }
    a{
       background-color: #0481B2;
       color: seashell;
       box-shadow: #fff;
       text-decoration: none;
       font-family: Arial, Helvetica, sans-serif;
       border-radius: 5px;
       text-shadow: 12px;
       box-shadow: 1px 2px 1px black;
       display: block;
     margin: 20px 0;
     color: #fff;
     transition: all 0.35s;
     text-transform: uppercase;
     font-size: 0.75em;
     letter-spacing: 2px;
     
    }
    a:hover{
       
       opacity: 0.6;
       background-color: #59D0FF;
       color:  #e67e22;
    }
    .second{
       background-color: rgba(230, 126, 34,0.8);
       border-radius: 20px;
       margin: 2em auto;
       padding: 20px;
       width: 90%;
    }
    header{
       background-color: #0481B2;
       border-radius: 20px;
       margin: 2em auto;
       padding: 20px;
       width: 90%;  
    }
 
 .headernav {text-align: center;
 }
 .nav1 {padding-right: 150px;
 }
 .nav2 {padding-right: 150px;
 }
 .nav3 {padding-right: 150px;
 }
 .asidenav {text-align: left;
 }
 .footernav {text-align: left;
 }
 
 img {margin-right: 250px;
   border: solid green;
   border-width: 5px;
   padding: 3px;}
    
 .fc > * {
    margin: 5px;
    padding: 20px; 
    padding-left: 35px;
    margin-left: 100px;
    background-color:#fff;
    color: #000;
    border-radius: 10px;
    text-align: center;}
 .para1 {text-align: left;
      background-color: #0481B2;
      padding: 5px;
      width: 250px;
      margin-left: 870px;
      margin-top: -290px;
      border-radius: 10px;}
 .para2 {text-align: left;
       background-color: #0481B2;
       padding: 5px;
       width: 250px;
       margin-left: 870px;
       margin-top: 20px;
       border-radius: 10px;}
 
 .first {width: 1150px;}
 .second {width: 280px;}
 
 .first {flex: 1;}
 .second {flex: 1;}
 
 /* =========== Footer =========== */
 
 footer {
     border-top: 1px solid #222;
    color: #fff;
 }
 .top-bar {
     padding: 20px 0;
     text-align: center;
 }
 
 .top-bar a {
     margin: 10px;
     font-size: 2em;
     color: #b2b2b2;
     transition: all .35s;
     display: inline-block;
 }
 
 .top-bar a:hover{
     transform: scale(1.1);
     color: #009688;
 }
 
 .bottom-bar {
     background: #000;
     font-size: 0.75em;
     text-align: center;
 }
 
    
 /* initialize flexbox container and flexbox items */
  .fc {display:flex;
       flex-flow: row wrap;}
  .fc {flex: 1;}
    
 /* header and footer should be full width */
    .fc {
     margin:0px;
     flex: 0 1 100vw;}
    
    /* ensure flex-container is always at least as tall as the viewport. 
       Keeps footer from coming up*/
    .fc { min-height: 100vh; } 