@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

body {
  width: 960px;
  margin: 0px auto;
}

#logo, nav, .bannerBtn a, footer {
 font-family: 'Open Sans', sans-serif;
}

#logo {
  color: #0481B2;
}

nav {
  background-color: #0481B2;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: flex-start;
}

nav ul li {
 list-style: none;
 margin: 0px 5px;
 padding: 10px; 
 color: #73D7FF;
}

nav ul li:hover {
/*   background-color: #efefef; */
  background-color: #59D0FF;
  color: #B26B1B;
}

#first {
  margin-left: 0px;
}

.active {
/*   background-color: #3f3f3f;
  color: #fff; */
  background-color: #FFB159;
  color: #B26B1B;
}

nav ul li a {
  text-decoration: none;
}

a{
    text-decoration: none;
}

.education {
  float: right;
  width: 40%;
  margin: 0 1em 0 0;
  padding: 1em;
  border: 1px solid black;
}

.poverty {
  float: right;
  width: 40%;
  margin: 0 1em 0 0;
  padding: 1em;
  border: 1px solid black;
}

.WaterandSanitation {
  float: right;
  width: 40%;
  margin: 0 1em 0 0;
  padding: 1em;
  border: 1px solid black;
}

.hunger {
  float: right;
  width: 40%;
  margin: 0 1em 0 0;
  padding: 1em;
  border: 1px solid black;
}

.climate_change {
  float: right;
  width: 40%;
  margin: 0 1em 0 0;
  padding: 1em;
  border: 1px solid black;
}

.go_back {
  width: 50px;
  margin-top: -5em;
}

@media only screen and (max-width: 925px) {
  .logo{
    width: 80px;
  }

  li {
    margin: 0 1em 5em 0;
  }

  .flex-container {
    margin-left: -2em;
  }

  h2 {
    text-align: center;
  }

  .education {
    float: none;
    width: 80%;
    margin-left: 10%;
    padding: 0.2em;
    border: 1px solid black;
  }
  
  .poverty {
    float: none;
    width: 80%;
    margin-left: 10%;
    padding: 0.2em;
    border: 1px solid black;
  }
  
  .WaterandSanitation {
    float: none;
    width: 80%;
    margin-left: 10%;
    padding: 0.2em;
    border: 1px solid black;
  }
  
  .hunger {
    float: none;
    width: 80%;
    margin-left: 10%;
    padding: 0.2em;
    border: 1px solid black;
  }

  .climate_change {
    float: none;
    width: 80%;
    margin-left: 10%;
    padding: 0.2em;
    border: 1px solid black;
  }


  .go_back {
    width: 80px;
  }
}

@media only screen and (max-width: 450px) {


  .education {
    float: none;
    width: 100%;
    margin-left: 0;
    padding: 0.2em;
    border: 1px solid black;
  }
  
  .poverty {
    float: none;
    width: 100%;
    margin-left: 0;
    padding: 0.2em;
    border: 1px solid black;
  }
  
  .WaterandSanitation {
    float: none;
    width: 100%;
    margin-left: 0;
    padding: 0.2em;
    border: 1px solid black;
  }
  
  .hunger{
    float: none;
    width: 100%;
    margin-left: 0;
    padding: 0.2em;
    border: 1px solid black;
  }

  .climate_change {
    float: none;
    width: 80%;
    margin-left: 10%;
    padding: 0.2em;
    border: 1px solid black;
  }
}