
body {
  width: 960px;
  margin: 0px auto;
}

#logo, nav, .bannerBtn a, footer {
 font-family: 'Open Sans', sans-serif;
}

#logo {
  color: #0481B2;
}

nav {
  background-color: #0481B2;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: flex-start;
}

nav ul li {
 list-style: none;
 margin: 0px 5px;
 padding: 10px; 
 color: #73D7FF;
}

nav ul li:hover {
/*   background-color: #efefef; */
  background-color: #59D0FF;
  color: #B26B1B;
}

#first {
  margin-left: 0px;
}

.active {
/*   background-color: #3f3f3f;
  color: #fff; */
  background-color: #FFB159;
  color: #B26B1B;
}

nav ul li a {
  text-decoration: none;
}

a{
    text-decoration: none;
}

.banner {
  background-image: url(../images/nate.jpg);
  background-size: cover;
  background-position: center center;
  height: 400px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
}

.bannerBtn a {
  padding: 20px 40px;
  background-color: #0481B2;
  color: #FFB159;
  text-decoration: none;
  box-shadow: 0px 0px 10px;
  border-radius: 3px;
}

.bannerBtn a:hover {
  background-color: #59D0FF;
  color: #B26B1B;
}

.bannerBtn {
  margin-top: 20px;
}

.banner {
  color: #fff;
}

.banner h1 {
  margin-bottom: 5px;
}

.banner p {
  margin-bottom: 20px;
}

.content {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: space-between;
}




/* .col1 {
  order: 1;
  flex: 0 1 auto;
  align-self: auto;
}

.col2 {
  order: 2;
  flex: 0 1 auto;
  align-self: auto;
}

.col3 {
  order: 3;
  flex: 0 1 auto;
  align-self: auto;
}

.col4 {
  order: 4;
  flex: 0 1 auto;
  align-self: auto;
}

.col5 {
  order: 5;
  flex: 0 1 auto;
  align-self: auto;
} */
